# **1. Load the Modules**

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

from sklearn.model_selection import train_test_split

# **2. Load the Dataset**

In [2]:
# LOading dataset
df = pd.read_csv("/kaggle/input/stress-level-detection/Stress-Lysis.csv")

In [3]:
# see the first 5 rows of dataset
df.head()

   Humidity  Temperature  Step count  Stress Level
0     21.33        90.33         123             1
1     21.41        90.41          93             1
2     27.12        96.12         196             2
3     27.64        96.64         177             2
4     10.87        79.87          87             0

In [4]:
# see the last 5 rows
df.tail()

      Humidity  Temperature  Step count  Stress Level
1996     21.82        90.82          96             1
1997     10.45        79.45          45             0
1998     27.22        96.22         135             2
1999     12.46        81.46          64             0
2000     16.87        85.87          50             1

### **Shape of the Dataset**

In [5]:
df.shape

(2001, 4)

# **3. Exploaratory Data Analysis**

### **dataset description**

In [6]:
# Describe of Features
df.describe().T

               count        mean        std   min   25%    50%    75%    max
Humidity      2001.0   20.000000   5.777833  10.0  15.0   20.0   25.0   30.0
Temperature   2001.0   89.000000   5.777833  79.0  84.0   89.0   94.0   99.0
Step count    2001.0  100.141429  58.182948   0.0  50.0  101.0  150.0  200.0
Stress Level  2001.0    1.104448   0.771094   0.0   0.0    1.0    2.0    2.0

### **Null values**

In [7]:
df.isna().sum()

Humidity        0
Temperature     0
Step count      0
Stress Level    0
dtype: int64

No null values observed

### **info**

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2001 entries, 0 to 2000
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Humidity      2001 non-null   float64
 1   Temperature   2001 non-null   float64
 2   Step count    2001 non-null   int64
 3   Stress Level  2001 non-null   int64
dtypes: float64(2), int64(2)
memory usage: 62.7 KB